In [50]:
import yfinance as yf

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.base import clone

In [51]:
df_apple_to_csv = yf.download("AAPL", start="2020-01-01", end="2025-01-01")
df_microsoft_to_csv = yf.download("MSFT", start="2020-01-01", end="2025-01-01")
df_amazon_to_csv = yf.download("AMZN", start="2020-01-01", end="2025-01-01")


apple_path = 'datasets/apple.csv'
microsoft_path = 'datasets/microsoft.csv'
amazon_path = 'datasets/amazon.csv'

df_apple_to_csv.to_csv(apple_path)
df_microsoft_to_csv.to_csv(microsoft_path)
df_amazon_to_csv.to_csv(amazon_path)

df_apple = pd.read_csv(apple_path)
df_microsoft = pd.read_csv(microsoft_path)
df_amazon = pd.read_csv(amazon_path)

C:\Users\PLPASIG\AppData\Local\Temp\ipykernel_19188\4222972167.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_apple_to_csv = yf.download("AAPL", start="2020-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed
C:\Users\PLPASIG\AppData\Local\Temp\ipykernel_19188\4222972167.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_microsoft_to_csv = yf.download("MSFT", start="2020-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed
C:\Users\PLPASIG\AppData\Local\Temp\ipykernel_19188\4222972167.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_amazon_to_csv = yf.download("AMZN", start="2020-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [52]:
df_apple.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,72.53852081298828,72.59889913772518,71.29231130597061,71.5458973217052,135480400
3,2020-01-03,71.8332748413086,72.59404000584014,71.60866931689996,71.76565143491464,146322800
4,2020-01-06,72.40568542480469,72.4443284378041,70.70301958367426,70.9541954829699,118387200

In [53]:
df_microsoft.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,MSFT,MSFT,MSFT,MSFT,MSFT
1,Date,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,153.04229736328125,153.14710838701015,150.86034091881393,151.2891080017366,22622100
3,2020-01-03,151.13665771484375,152.4039130274651,150.60307959140601,150.8508226765117,21116200
4,2020-01-06,151.52728271484375,151.59398723405667,149.12616718464912,149.66928270769137,20813700

In [54]:
df_amazon.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,AMZN,AMZN,AMZN,AMZN,AMZN
1,Date,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,94.90049743652344,94.90049743652344,93.2074966430664,93.75,80580000
3,2020-01-03,93.74849700927734,94.30999755859375,93.2249984741211,93.2249984741211,75288000
4,2020-01-06,95.14399719238281,95.18450164794922,93.0,93.0,81236000

In [55]:
df_apple['Date'] = df_apple['Price']
df_apple = df_apple.drop(index=[0,1], columns='Price')

df_microsoft['Date'] = df_microsoft['Price']
df_microsoft = df_microsoft.drop(index=[0,1], columns='Price')

df_amazon['Date'] = df_amazon['Price']
df_amazon = df_amazon.drop(index=[0,1], columns='Price')

In [56]:
df_apple.head()

,Close,High,Low,Open,Volume,Date
2,72.53852081298828,72.59889913772518,71.29231130597061,71.5458973217052,135480400,2020-01-02
3,71.8332748413086,72.59404000584014,71.60866931689996,71.76565143491464,146322800,2020-01-03
4,72.40568542480469,72.4443284378041,70.70301958367426,70.9541954829699,118387200,2020-01-06
5,72.06513977050781,72.67133299565539,71.84536183598526,72.41532954893665,108872000,2020-01-07
6,73.22440338134766,73.5262949460089,71.76807876823776,71.76807876823776,132079200,2020-01-08

In [57]:
df_microsoft.head()

,Close,High,Low,Open,Volume,Date
2,153.04229736328125,153.14710838701015,150.86034091881393,151.2891080017366,22622100,2020-01-02
3,151.13665771484375,152.4039130274651,150.60307959140601,150.8508226765117,21116200,2020-01-03
4,151.52728271484375,151.59398723405667,149.12616718464912,149.66928270769137,20813700,2020-01-06
5,150.14572143554688,152.13711630992105,149.89799290182077,151.8036372690105,21634100,2020-01-07
6,152.5373077392578,153.21381792157746,150.49826874289445,151.43203046001807,27746500,2020-01-08

In [ ]:
df_amazon.head()

,Close,High,Low,Open,Volume,Date
2,94.90049743652344,94.90049743652344,93.2074966430664,93.75,80580000,2020-01-02
3,93.74849700927734,94.30999755859375,93.2249984741211,93.2249984741211,75288000,2020-01-03
4,95.14399719238281,95.18450164794922,93.0,93.0,81236000,2020-01-06
5,95.34300231933594,95.69450378417969,94.60199737548828,95.2249984741211,80898000,2020-01-07
6,94.59850311279297,95.55000305175781,94.3219985961914,94.9020004272461,70160000,2020-01-08

In [59]:
df_apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 2 to 1259
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1258 non-null   object
 1   High    1258 non-null   object
 2   Low     1258 non-null   object
 3   Open    1258 non-null   object
 4   Volume  1258 non-null   object
 5   Date    1258 non-null   object
dtypes: object(6)
memory usage: 59.1+ KB

In [60]:
df_apple.describe()

,Close,High,Low,Open,Volume,Date
count,1258,1258,1258,1258,1258,1258
unique,1243,1258,1258,1258,1256,1258
top,139.26516723632812,72.59889913772518,71.29231130597061,71.5458973217052,90956700,2020-01-02
freq,2,1,1,1,2,1

In [61]:
df_apple.isna().sum()

Close     0
High      0
Low       0
Open      0
Volume    0
Date      0
dtype: int64

In [62]:
df_apple['Close'] = df_apple['Close'].astype(float)
df_apple['High'] = df_apple['High'].astype(float)
df_apple['Low'] = df_apple['Low'].astype(float)
df_apple['Open'] = df_apple['Open'].astype(float)
df_apple['Volume'] = df_apple['Volume'].astype(float)
df_apple['Date'] = pd.to_datetime(df_apple['Date'])

In [63]:
df_apple.describe()

,Close,High,Low,Open,Volume,Date
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258
mean,151.806048,153.332133,150.104333,151.651296,9.057103e+07,2022-07-01 15:39:46.645468928
min,54.316940,55.316759,51.470005,55.215083,2.323470e+07,2020-01-02 00:00:00
25%,126.636381,127.757508,124.630102,126.080083,5.546825e+07,2021-04-02 00:00:00
50%,150.392868,152.138951,148.455981,150.212655,7.628335e+07,2022-06-30 12:00:00
75%,176.399677,177.954437,174.830453,176.205330,1.077425e+08,2023-10-01 06:00:00
max,258.103729,259.179926,256.718662,257.276679,4.265100e+08,2024-12-31 00:00:00
std,41.970402,42.111163,41.747076,41.914049,5.324438e+07,NaN

In [64]:
df_apple[df_apple['Close'] < 0].head()

Empty DataFrame
Columns: [Close, High, Low, Open, Volume, Date]
Index: []

In [65]:
#FEATURE ENGINEERING
window = 14

df_apple['Price Change'] = df_apple['Close'].diff() 

df_apple['Gain'] = df_apple.loc[df_apple['Price Change'] > 0, 'Price Change']
df_apple['Loss'] = -df_apple.loc[df_apple['Price Change'] < 0, 'Price Change']

df_apple.head()
# df_apple['Average Gain']
# df_apple['Average Loss']
# df_apple['RS']
# df_apple['RSI']

,Close,High,Low,Open,Volume,Date,Price Change,Gain,Loss
2,72.538521,72.598899,71.292311,71.545897,135480400.0,2020-01-02,NaN,NaN,NaN
3,71.833275,72.594040,71.608669,71.765651,146322800.0,2020-01-03,-0.705246,NaN,0.705246
4,72.405685,72.444328,70.703020,70.954195,118387200.0,2020-01-06,0.572411,0.572411,NaN
5,72.065140,72.671333,71.845362,72.415330,108872000.0,2020-01-07,-0.340546,NaN,0.340546
6,73.224403,73.526295,71.768079,71.768079,132079200.0,2020-01-08,1.159264,1.159264,NaN