In [ ]:
import yfinance as yf

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [9]:
df_apple = yf.download("AAPL", start="2020-01-01", end="2025-01-01")
df_microsoft = yf.download("MSFT", start="2020-01-01", end="2025-01-01")
df_amazon = yf.download("AMZN", start="2020-01-01", end="2025-01-01")

C:\Users\acer\AppData\Local\Temp\ipykernel_15248\1363153838.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_apple = yf.download("AAPL", start="2020-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed
C:\Users\acer\AppData\Local\Temp\ipykernel_15248\1363153838.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_microsoft = yf.download("MSFT", start="2020-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed
C:\Users\acer\AppData\Local\Temp\ipykernel_15248\1363153838.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_amazon = yf.download("AMZN", start="2020-01-01", end="2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [8]:
df_apple.head()

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2020-01-02  72.620819  72.681266  71.373196  71.627069  135480400
2020-01-03  71.914810  72.676439  71.689950  71.847110  146322800
2020-01-06  72.487869  72.526556  70.783271  71.034732  118387200
2020-01-07  72.146927  72.753808  71.926900  72.497514  108872000
2020-01-08  73.307518  73.609752  71.849540  71.849540  132079200

In [6]:
df_microsoft.head()

Price            Close        High         Low        Open    Volume
Ticker            MSFT        MSFT        MSFT        MSFT      MSFT
Date
2020-01-02  153.042282  153.147093  150.860326  151.289093  22622100
2020-01-03  151.136627  152.403882  150.603049  150.850792  21116200
2020-01-06  151.527328  151.594033  149.126212  149.669328  20813700
2020-01-07  150.145737  152.137132  149.898008  151.803653  21634100
2020-01-08  152.537308  153.213818  150.498269  151.432030  27746500

In [10]:
df_amazon.head()

Price           Close       High        Low       Open    Volume
Ticker           AMZN       AMZN       AMZN       AMZN      AMZN
Date
2020-01-02  94.900497  94.900497  93.207497  93.750000  80580000
2020-01-03  93.748497  94.309998  93.224998  93.224998  75288000
2020-01-06  95.143997  95.184502  93.000000  93.000000  81236000
2020-01-07  95.343002  95.694504  94.601997  95.224998  80898000
2020-01-08  94.598503  95.550003  94.321999  94.902000  70160000